#Designs1{
    padding: 100px;
    text-align: center;
}
.card{
    padding: 10px;
}

/*--------------------------------------------------------------------*/

.carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
}

.carousel-caption{
    bottom: 180px;
    padding-left: 100px;
    padding-right: 100px;
}
.carousel-caption h5{
    font-size: 100px;
    font-weight: 700;
}
.carousel-caption p{
    font-size: 18px;
    top: 2rem;
}
.slider{
    margin-top: 30px;
}
.slider-btn .btn{
    background-color: #e74c3c;
    color: white;
    border-radius: 0;
    padding: 1.5rem 2rem;
    font-size: 1rem;

}
.slider-btn .btn2{
    color: #111010;
    background-color: white;
}

/*-------------------------------------------------------------------*/

.parallex{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(./ShoppingMall.jpeg) no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    width: 100%;
}
.parallex h1{
    font-size: 60px;
    font-weight: 700;
}
.parallex p{
    font-size: 25px;
}
.btn2{
    height: 40px;
    width: 110px;
    background: transparent;
    border: 2px solid white;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
}
.btn:hover{
    background-color: white;
    color: yellowgreen;
    transition:0.3s;
}
.btn3{
    height:40px;
    width:110px;
    outline:none;
    border:none;
    color:yellowgreen;
    border-radius: 5px;
}
.btn3:hover{
    background-color: gray;
    color:white;
    border: none;
    outline:none;
    transition:0.3s;
}

.contact input{
    height: 50px;
    width: 100%;
    outline: none;
    border: none;
    color: grey;
    background-color: white;
    padding: 10px;
    -webkit-box-shadow: 0px 2px 21px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 21px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 21px -8px rgba(0,0,0,0.75);;
}
.btn4{
    height:45px;
    width: 160%;
    background-color:yellowgreen;
    color:white;
    outline: none;
    border: none;
    cursor: pointer;
    display: inline-block;
}